.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0;
  padding: 10px;
  color: $color-alice-blue;
  font-family: $ff-title;
  font-weight: 700;
  letter-spacing: 0.05em;
  background-color: $color-transparent;
  border: none;
  border-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: color $trans-default, border-color $trans-default, background-color $trans-default, opacity $trans-default;

  &--hero {
    background-color: $color-deep-sky-blue;
  }

  &:disabled {
    opacity: 0.3;
    pointer-events: none;
  }
}
