.features {
  padding-top: 120px;
  margin-bottom: 120px;

  @include vp-1919 {
    padding-top: 120px;
  }

  @include vp-1023 {
    padding-top: 88px;
    margin-bottom: 75px;
  }

  @include vp-767 {
    padding-top: 50px;
    margin-bottom: 50px;
  }
}

.features__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;

  @include vp-767 {
    display: flex;
    flex-direction: column;
  }
}

.features__item {
  min-height: 300px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  border: 1px solid $color-whisper;
  border-left: 5px solid $color-deep-sky-blue;
  color: $color-deep-sky-blue;
  transition: color $trans-default, background-color $trans-default, border-color $trans-default;

  @include vp-1023 {
    min-height: 360px;
    gap: 5px;
    padding: 40px 45px 30px 40px;
  }

  @include vp-767 {
    min-height: 340px;
    padding: 25px;
    gap: 10px;
  }

  &--smaller {
    @include vp-767 {
      min-height: 325px;
    }
  }

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      color: $color-alice-blue;
      background-color: $color-deep-sky-blue;
      border-color: $color-deep-sky-blue;

      p {
        color: $color-alice-blue;
      }
    }
  }

  svg {
    margin-bottom: 5px;

    @include vp-1023 {
      margin-bottom: 10px;
    }

    @include vp-767 {
      margin-bottom: 5px;
    }
  }

  strong {
    font-family: $ff-title;
    font-size: 24px;
    font-weight: 400;

    @include vp-1023 {
      line-height: 1.35;
      margin-bottom: 5px;
    }

    @include vp-767 {
      margin-bottom: 0;
      font-size: 20px;
      line-height: 1.5;
    }
  }

  p {
    margin: 0;
    font-size: 16px;
    line-height: 1.35;
    color: $color-black-pearl;
    transition: color $trans-default;

    @include vp-767 {
      font-size: 14px;
      line-height: 1.35;
    }
  }
}
