.footer {
  background-color: $color-black-pearl;
  padding-top: 57px;
  padding-bottom: 55px;

  @include vp-767 {
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.footer__inner {
  display: grid;
  grid-template-columns: minmax(215px, auto) minmax(calc((100% - 60px) / 3), 470px) 345px;
  gap: 30px;


  @include vp-1023 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 35px;
  }

  @include vp-767 {
    padding: 0;
    flex-direction: column;
    gap: 0;
  }
}

.footer__section {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include vp-767 {
    border-bottom: 1px solid rgba($color-alice-blue-2, 0.7);
  }

  &--links {
    gap: 25px;

    @include vp-1023 {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }

    @include vp-767 {
      padding-bottom: 25px;
      flex-direction: column;
      gap: 15px;
      border-bottom: 1px solid rgba($color-alice-blue-2, 0.7);
    }
  }

  &--nav {
    .footer__section-list {
      column-count: 2;
      column-width: 220px;
      column-fill: auto;

      @include vp-1023 {
        column-count: 1;
      }
    }

    .footer__section-item {
      margin-bottom: 10px;

      @include vp-1023 {
        margin-bottom: 9px;
        max-width: 220px;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &--tel {
    @include vp-1023 {
      margin-right: 10px;
    }

    @include vp-767 {
      margin-right: 0;
    }

    .footer__section-list {
      display: flex;
      flex-direction: column;
      column-gap: 30px;
      row-gap: 10px;
    }
  }
}

.footer__logo {
  position: relative;
  top: -5px;
  flex-shrink: 0;
}

.footer__social {
  margin-left: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;

  @include vp-1023 {
    align-self: flex-start;
    gap: 12px;
  }

  @include vp-767 {
    align-self: center;
    gap: 15px;
  }
}

.footer__social-link {
  display: grid;
  place-items: center;
  padding: 5px;
  color: $color-alice-blue-2;
  transition: color $trans-default, opacity $trans-default;

  @media (hover: hover), screen and (min-width: 0\0) {
    &:hover {
      color: $color-deep-sky-blue;
    }

    &:focus-visible {
      outline-style: groove;
      color: $color-deep-sky-blue;
    }
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__section-title {
  pointer-events: none;
  font-family: $ff-title;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0.05em;
  color: $color-default-white;
  text-transform: uppercase;

  @include vp-767 {
    pointer-events: auto;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;

    &:active {
      opacity: 0.6;
    }
  }
}

.footer__section-list {
  @include vp-767 {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
    padding-right: 25px;
    min-height: unset;
    gap: 10px;

    address {
      margin-bottom: 5px;
    }
  }
}

.footer__section-item {
  display: flex;

  a,
  address {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    font-style: normal;
    user-select: none;
    color: rgba($color-default-white, 0.7);

    @include vp-767 {
      font-size: 14px;
      line-height: 1.5;
    }
  }

  a {
    transition: color $trans-default, opacity $trans-default;

    @media (hover: hover), screen and (min-width: 0\0) {
      &:hover[href] {
        color: $color-deep-sky-blue;
      }

      &:focus-visible[href] {
        outline-style: groove;
        color: $color-deep-sky-blue;

        @include vp-1023 {
          svg {
            color: $color-alice-blue;
          }
        }
      }
    }

    &:active[href] {
      opacity: 0.6;
    }
  }
}
