.logo {
  margin: 0;

  img {
    object-fit: contain;
  }

  &--header {
    @include vp-767 {
      img {
        width: 35px;
        height: 35px;
        object-fit: cover;
        object-position: left;
      }
    }
  }
}
